<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - MetaPotato</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="master-header">
        <svg class="master-header__icon" width="17" height="14">
            <use xlink:href="img/symbol/sprite.svg#menu-btn"></use>
        </svg>
        <h2 class="master-header__title">
            MetaPotato
        </h2>
        <svg class="master-header__icon" width="15" height="16">
            <use xlink:href="img/symbol/sprite.svg#search"></use>
        </svg>
    </header>
        <main class="master-main">
            @RenderBody()
        </main>
</body>
</html>
