@model MetaPotato.ViewModels.ForgotPasswordViewModel

    <form class="start-auth__forgot-pass" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input class="start-auth__input" type="email" placeholder="Ввeдите e-mail" asp-for="Email" />
        <button type="submit" class="start-auth__button button-shadow">Отправить</button>
    </form>