@model MetaPotato.ViewModels.ResetPasswordViewModel

    <form class="start-auth__reset" method="post">
        <div class="start-auth__validation" asp-validation-summary="All"></div>
        <input class="start-auth__input" type="email" placeholder="введите e-mail" asp-for="Email" maxlength="30" />
        <input class="start-auth__input" type="password" placeholder="Введить пароль" asp-for="Password" />
        <input class="start-auth__input" type="password" placeholder="Введите пароль еще раз" asp-for="ConfirmPassword" />
        <!--<input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>-->
        <button type="submit" class="button-shadow">Сбросить</button>
    </form>
