.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    max-height: 45px;
    border: none;
    background: none;
    flex-shrink: 0;
    //margin-top: auto;
}

.button-icon__svg {
    fill: $background-dark;
}
