.master-main {
    height: calc(100vh - 41px);
}

@media (min-width: $tablet-width) {
    .master-main {
        height: calc(100vh - 51px);
    }
}

@media (min-width: $desktop-width) {
    .master-main {
        height: calc(100vh - 75px);
    }
}