.master-header {
    position: relative;
    background-color: $background-dark;
    height: 41px;

    .master-header__menu-open {
        display: none;
    }

    .master-header__menu {
        position: absolute;
        z-index: 999;
        left: 0;
        top: 41px;
        transition: all 0.2s ease-in-out;
    }

    &--close-menu {
        .master-header__menu-close {
            display: none;
        }

        .master-header__menu-open {
            display: block;
        }

        .master-header__menu {
            left: -85.33%;
        }
    }
}

.master-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.master-header__logo-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 143px;
    text-align: center;
}

.master-header__title {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-shadow: 0 0 5px $text-purple-dark, 0 0 10px $text-purple-dark, 0 0 20px $background-dark, 0 0 30px $background-dark, 0 0 40px $background-dark, 0 0 55px $background-dark, 0 0 75px $background-dark;
}

.master-header__icon-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 33.33%;

    &--right {
        justify-content: flex-end;
    }
}

.master-header__icon-btn {
    border: none;
    background: none;
}

.master-header__icon {
    fill: $top-menu-icon;
}

@media (min-width: $tablet-width) {
    .master-header {
        height: 51px;
    }

    .master-header__icon-wrapper {

        &--right {
            display: none;
        }
    }

    .master-header__logo-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .master-header__search {
            display: block;
            width: 162px;
        }
    }

    .master-header__title {
        font-size: 24px;
    }

}


@media (min-width: $desktop-width) {

    .master-header {

        height: 48px;
        z-index: 9999;

        .master-header__menu {
            display: block;
            position: relative;
            z-index: 0;
            left: auto;
            top: auto;
        }

        .master-header__icon-wrapper--left {
            display: none;
        }

        &--close-menu {
            .master-header__menu-close {
                display: block;
            }

            .master-header__menu-open {
                display: block;
            }
        }
    }

    .master-header__title {
        font-size: 30px;
    }

}
