.menu {
    height: calc(100vh - 41px);
    background-color: $background-dark;
    width: 85.33%;
    padding-top: 13px;
    padding-left: 4%;
    color: $text-gold;
}

.menu__user {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    cursor: pointer;
}

.menu__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu__username {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
}

.menu__nav {
    list-style: none;
}

.menu__nav-item, .menu__logout {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.menu__icon--triangle {
    display: none;
}

.menu__icon {
    fill: $text-gold;
    margin-right: 10px;
}

.menu__logout {
    border: none;
    background: none;
    color: $text-gold;
}

@media (min-width: $tablet-width) { 
    .menu {
        width:  65.23%;
    }
}

@media (min-width: $desktop-width) {

    .menu {
        display: flex;
        padding: 0;
        width: 33%;
        height: 100%;

        &--openlist {
            .menu__nav {
                display: block;
            }

            .menu__icon--triangle {
                transform: rotate(0deg);
            }
        }
    }

    .menu__user {
        height: 100%;
        width: 193px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .menu__nav {
        display: none;
        position: absolute;
        z-index: 9999;
        margin-top: 0;
        width: 194px;
        height: 144px;
        padding: 30px 22px;
        border-radius: 0 0 14px 14px;
        background-color: $background-dark;
    }

    .menu__icon {
        margin-right: 21px;
    }

    .menu__nav-item, .menu__logout {
        margin-bottom: 31px;
    }

    .menu__icon--triangle {
        margin-left: auto;
        display: block;
        transform: rotate(180deg);
    }

    .menu__avatar {
        width: 25px;
        height: 25px;
    }

    .menu__username {
        margin-left: 18px;
        font-size: 20px;
        font-weight: 500;
        margin-top: 0;
    }
}
