.messages {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    &--show {
        display: block;
    }
}

.messages__header {
    display: flex;
    align-items: center;
}

.messages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $text-purple-dark;

    &--dots {
        transform: rotate(90deg);
    }
}

.messages__icon-btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    border: none;
    background: none;
}

.messages__username {
    color: #fff;
    margin-left: 21px;
    font-size: 18px;
    font-weight: 700;
    font-family: "mukta", "Arial", sans-serif;
}

.messages__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 11px;
}

.messages__icon-btn-set {
    margin-left: auto;
    margin-right: 22px;
    border: none;
    background: none;
}

.messages__block {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 41px);
}

.messages__list {
    list-style: none;
    padding: 19px 15px;
    flex-grow: 1;
    max-height: calc(100% - 50px);
    overflow-y: scroll;
}

.messages__send-form {
    overflow: auto;
    min-height: 50px;
    flex-grow: 0;
    width: 100%;
    max-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.messages__typeArea {
    flex-grow: 1;
    padding: 8px 16px;
    min-height: 30px;
    word-wrap: break-word;
    overflow-y: scroll;

    &:empty::before {
        content: "Введите текст сообщения";
        color: $light-color;
    }
}

.messages__header {

    &--users {
        display: none;
    }
}


@media (min-width: $tablet-width) {

    .messages__list {
        padding: 54px 30px
    }

    .messages__block {
        padding-bottom: 32px;
    }

    .messages__send-form {
        width: 707px;
        margin: 0 auto;
    }

    .messages__smile-btn {
        margin-right: 30px;
    }

    .messages__send-btn {
        margin-left: 30px;
    }

}

@media (min-width: $desktop-width) {

    .messages {
        display: block;
        position: relative;
        z-index: 0;
    }

    .messages__block {
        display: flex;
        flex-direction: column;
        height: calc(100% - 51px);
        width: 760px;
        margin: 0 auto;
    }

    .messages__header {
  
        &--users {
            color: #fff;
            padding: 0 20px;
            display: flex;
        }
    }
}