.messages {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    &--show {
        display: block;
    }
}

.messages__header {
    display: flex;
    align-items: center;
}

.messages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $top-menu-icon;

    &--dots {
        transform: rotate(90deg);
    }
}

.messages__icon-btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    border: none;
    background: none;
}

.messages__username {
    color: #fff;
    margin-left: 21px;
    font-size: 18px;
    font-weight: 700;
    font-family: "mukta", "Arial", sans-serif;
    color: $top-menu-icon;
}

.messages__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 11px;
}

.messages__icon-btn-set {
    margin-left: auto;
    margin-right: 22px;
    border: none;
    background: none;
}

.messages__block {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 41px);
    padding-bottom: 10px;
}

.messages__list {
    list-style: none;
    padding: 28px 15px;
    flex-grow: 1;
    max-height: calc(100% - 50px);
    overflow: auto;
}

.messages__send-form {
    overflow: auto;
    min-height: 50px;
    flex-grow: 0;
    width: 97.86%;
    margin: 0 auto;
    max-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: $type-area;
}

.messages__typeArea {
    flex-grow: 1;
    padding: 8px 16px;
    min-height: 30px;
    word-wrap: break-word;
    overflow-y: auto;
    font-family: "Fira Mono", Roboto, sans-serif;

    &:empty::before {
        content: "Введите текст сообщения...";
        color: $light-color;
    }
}

.messages__header {

    &--users {
        display: none;
    }
}

.messages__send-btn {
   
    svg {
        fill: $background-dark;
    }
}


@media (min-width: $tablet-width) {

    .messages__list {
        padding: 54px 30px;
    }

    .messages__block {
        padding-bottom: 32px;
    }

    .messages__send-form {
        width: 707px;
        margin: 0 auto;
    }

    .messages__smile-btn {
        margin-right: 30px;
    }

    .messages__send-btn {
        margin-left: 30px;
    }

}

@media (min-width: $desktop-width) {

    .messages {
        display: block;
        position: relative;
        z-index: 0;
    }

    .messages__block {
        display: flex;
        flex-direction: column;
        height: calc(100% - 51px);
        width: 760px;
        margin: 0 auto;
    }

    .messages__header {
        box-shadow: none;
        padding: 0px 49px;

        &--users {
            color: #fff;
            padding: 9px 31px;
            display: flex;
            height: 47px;
            margin-bottom: 12px;
        }
    }

    .messages__icon-btn-back {
        display: none;
    }

    .messages__block {
        padding-top: 30px;
        width: 988px;
    }

    .messages__list {
        width: 100%;
        padding: 0;
    }

    .messages__send-form {
        width: 830px;
        min-height: 66px;
        border-radius: 15px;
    }



}