
.messenger {
    //display: none;
    height: 100%;
    //height: calc(var(--vh, 1vh) * 100 - 41px);
}

@media (min-width: $tablet-width) {
    .messenger {
        //height: calc(var(--vh, 1vh) * 100 - 51px);
    }
}

@media (min-width: $desktop-width) {

    .messenger {
        display: flex;
        height: 100%;
        padding-top: 2px;
    }
}
