.notmaster-header {
    background-color: $background-dark;
    height: 41px;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(118, 26, 26, 0.53);
}

@media (min-width: $tablet-width) {
    .notmaster-header {
        height: 51px;
    }
}

@media (min-width: $tablet-width) {
    .notmaster-header {
        height: 47px;
    }
}