.start-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $background-dark;
    padding-top: 147px;

    &--login {
        .start-auth__regist-block {
            display: none;
        }
    }

    &--register {
        .start-auth__auth-block {
            display: none;
        }
    }

    span {
        color: red;
    }
 }

.start-auth__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 45px;
    text-shadow: 0 0 5px $text-purple-dark, 0 0 10px $text-purple-dark, 0 0 20px $background-dark, 0 0 30px $background-dark, 0 0 40px $background-dark, 0 0 55px $background-dark, 0 0 75px $background-dark;
}

.start-auth__auth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-auth__register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-auth__login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-auth__input {
    width: 223px;
    height: 38px;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 9px;
    border-radius: 6px;
    border: none;
    font-weight: bold;

    &--last {
        margin-bottom: 15px;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

.start-auth__button {
    margin-bottom: 19px;
}

.start-auth__back-btn {
    margin: 0 auto;
}

.start-auth__reg-btn {
    margin-bottom: 26px;
}

.start-auth__remember-lable {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    color: #fff;
    margin-bottom: 26px;
    margin-left: 15px;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        margin-right: 9px;
        background-color: #ffffff;
        border-radius: 4px;
        width: 18px;
        height: 18px;
    }

    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.start-auth__remember:checked + .start-auth__remember-lable::before {
    background-image: url("/img/icons/tick.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}

.start-auth__validation {
    ul {
        list-style: none;
        color: red;
    }
} 