.user-profile {
    position: absolute;
    z-index: $popup-index;
    top: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: $background-dark;

    &--my {

        .user-profile__avatar-block {
            position: relative;
        }

        .user-profile__user {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
        }


        .user-profile__avatar-block {
            margin: 0 auto;
            width: auto;
            margin-bottom: 36px;
        }

        .user-profile__avatar {
            width: 225px;
            height: 225px;
        }

        .user-profile__change-avatar-btn {
            position: absolute;
            display: block;
            transition: opacity 0.2s ease-in-out;
            border: none;
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #969696;
            padding: 8px 20px;
            font-size: 14px;
            top: 158px;
            right: 50%;
            transform: translateX(50%);
        }

        .user-profile__user-name {
            margin-bottom: 36px;
        }
    }
}

.user-profile__close-btn {
    border: none;
    background: none;
    cursor: pointer;

    svg {
        width: 17px;
        height: 17px;
        fill: $top-menu-icon;
    }
    margin-bottom: 35px;
}

.user-profile__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 345px;
    margin: 0 auto;
    padding-top: 21px;
}

.user-profile__user {
    display: flex;
    margin-bottom: 27px;
    padding-left: 25px;
}

.user-profile__avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.user-profile__user-info {
    display: flex;
    flex-direction: column;
    margin-left: 29px;
    margin-top: 13px;
}

.user-profile__user-name,
.user-profile__user-mail {
    color: #fff;
}

.user-profile__user-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 19px;
}

.user-profile__user-mail {
    font-size: 14px;
}

.user-profile__text-msg-btn {
    cursor: pointer;
    display: flex;
    width: 221px;
    height: 52px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    color: $text-purple-dark;
    border: none;
    border-radius: 25px;
    background-color: rgba(25, 27, 46, 0.47);
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    svg {
        fill: $text-purple-dark;
    }

    &:hover, &:focus {
        background-color: rgba(25, 27, 46, 0.2);
        //border: 1px solid rgba(25, 27, 46, 0.47);
        box-shadow: 0 0 7px -1px $text-purple-dark, 0 0 6px -1px #fff inset;
    }
}



@media (min-width: $tablet-width) {

    .user-profile {
        &--my {
            .user-profile__user {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 0;
            }

            .user-profile__avatar-block {
                margin: 0;
            }

            .user-profile__avatar {
                width: 290px;
                height: 290px;
            }

            .user-profile__user-info {
                margin-top: 51px;
                margin-left: 60px;
            }
        }
    }

    .user-profile__wrapper {
        width: 707px;
        padding-top: 25px;
    }

    .user-profile__close-btn {

        svg {
            width: 25px;
            height: 25px;
        }

        margin-bottom: 68px;
    }

    .user-profile__user {
        margin-bottom: 67px;
    }

    .user-profile__user-info {
        margin-left: 53px;
        margin-top: 28px;
    }


    .user-profile__avatar {
        width: 125px;
        height: 125px;
    }

    .user-profile__user-name {
        margin-bottom: 23px;
        font-size: 26px;
    }

    .user-profile__user-mail {
        font-size: 16px;
    }

}



@media (min-width: $desktop-width) {


    .user-profile {
        position: absolute;
        //top: -;
    }

    .user-profile__close-btn {

        margin-left: auto;
        margin-right: 100px;

        svg {
            width: 30px;
            height: 30px;
        }

        margin-bottom: 15px;
    }

    .user-profile__wrapper {
        width: 1406px;
        padding-top: 57px;
        padding-left: 119px;
    }

    .user-profile__user-info {
        margin-left: 52px;
        margin-top: 27px;
    }

    .user-profile__user {
        margin-bottom: 87px;
    }

    .user-profile__avatar {
        width: 125px;
        height: 125px;
    }

    .user-profile__user-name {
        margin-bottom: 50px;
        font-size: 32px;
    }

    .user-profile__user-mail {
        font-size: 20px;
    }

}