@font-face {
    font-family: "Fira Mono";
    src: url("/fonts/FiraMono-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url("/fonts/FiraMono-Bold.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "muli";
    src: url("~/wwwwroot/fonts/Muli-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "muli";
    src: url("~/wwwwroot/fonts/Muli-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "muli";
    src: url("~/wwwwroot/fonts/Muli-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "muli";
    src: url("~/wwwwroot/fonts/Muli-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "mukta";
    src: url("/fonts/Mukta-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mukta";
    src: url("/fonts/Mukta-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mukta";
    src: url("/fonts/Mukta-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mukta";
    src: url("/wwwwroot/fonts/Mukta-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}





html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
