$background-dark: #0D0C14;
//$user-list: #100D11;
$user-list: #05040D;
$type-area: #353138; 
//$user-item: #16111B;
$user-item: #0B0B0F;
$top-menu-icon: #ACACAC; 
$text-purple-dark: #6F6B8A;
$text-gold: #ACACAC;
$background-light: #E9E9E9;
$light-purple: #BDB8DB;
$light-color: #A9A0B6;
$background-purple: #A9A0B6;
$guest-message: #1B191C;
$my-message: #16111B;
//$type-area: #CBC9CD;
//$user-active: #663951;
//$user-hover: #241624;
$user-hover: #16111B;
$drop-menu-desktop: #181123;

$tablet-width: 768px;
$desktop-width: 1440px;
