$background-dark: #0D0C14;
$user-item: #16111B;
$top-menu-icon: #ACACAC; 
$text-purple-dark: #6F6B8A;
$text-gold: #8E866A;
$background-light: #E9E9E9;
$light-purple: #BDB8DB;
$light-color: #A9A0B6;
$background-purple: #A9A0B6;
$guest-message: #DAD7CD;
$my-message: #F2E0B1;
$type-area: #CBC9CD;

$tablet-width: 768px;
$desktop-width: 1440px;
