$background-dark: #0D0C14;
$user-list: #100D11;
$type-area: #353138; 
$user-item: #16111B;
$top-menu-icon: #ACACAC; 
$text-purple-dark: #6F6B8A;
$text-gold: #ACACAC;
$background-light: #E9E9E9;
$light-purple: #BDB8DB;
$light-color: #A9A0B6;
$background-purple: #A9A0B6;
$guest-message: #DAD7CD;
$my-message: #F2E0B1;
//$type-area: #CBC9CD;
$user-active: #663951;
$user-hover: #241624;
$drop-menu-desktop: #181123;

$tablet-width: 768px;
$desktop-width: 1440px;
