@{
    ViewData["Title"] = "User Profile";
}

<section class="user-profile">

    <div class="user-profile__user">
        <img class="user-profile__avatar" src="~/img/default_avatar.png" />

        <div class="user-profile__user-info">
            <span class="user-profile__user-name">
                Boris
            </span>
            <span class="user-profile__user-mail">
                boris-sobaka@gmail.com
            </span>
        </div>
    </div>

    <button class="user-profile__text-msg-btn" type="button">
        <svg width="18" height="14" aria-label="Написать сообщение">
            <use xlink:href="~/build/symbol/sprite.svg#mail"></use>
        </svg>
        <span>
            Написать сообщение
        </span>
    </button>
</section>