@model MetaPotato.Controllers.ViewModelItem;

@{
    ViewBag.Title = "Добавление пользователя";
}

<form asp-action="Create" asp-controller="Crop" method="post"  align-items: center;' enctype="multipart/form-data">
    <p>
        <label style="color: #fff">Имя</label>
        <input name="Name" class="form-control" value=@Model.Name />
    </p>
    <p>
        <label style="color: #fff">Аватар</label>
        <input name="Avatar" type="file" class="form-control" onchange="LoadFile()" />
        <input style="display: none;" type="submit" id="loadfile" value="Добавить" />
    </p>
</form>
<form action="/Crop/CropSave" controller="Crop" method="post">
    <input type="submit" id="loadfile1" value="Сохранить" />
    <input name="X" type="hidden" id="dcoordinate_x" />
    <input name="Y" type="hidden" id="dcoordinate_y" />
    <input name="W" type="hidden" id="dcoordinate_w" />
    <input name="H" type="hidden" id="dcoordinate_h" />
    @if (Model.Photo != null)
    { 
        <img name="Photo" id="dcropimage1" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))" />
    }
    <div style="color: #fff">
        @if (Model.Photo != null)
        {
            <script type="text/javascript">
                $(function () {
                    $("#dcropimage1").Jcrop({
                        onSelect: croparea,
                        aspectRatio: 1
                    });

                });
            </script>
        }
    </div>
</form>

<script type="text/javascript">

    /***********************************/
    /* Имиируем click на кнопке Submit */
    /***********************************/
    function LoadFile() {
        document.getElementById('loadfile').click();
    };
   
    function croparea(c) {
        $("#dcoordinate_x").val(c.x);
        $("#dcoordinate_y").val(c.y);
        $("#dcoordinate_w").val(c.w);
        $("#dcoordinate_h").val(c.h);
    };

</script>